service:
  name: shogi-api

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

plugins:
  - serverless-webpack

provider:
  name: aws
  region: ap-northeast-1
  timeout: 
  runtime: nodejs12.x
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  bestmove:
    handler: src/handler.hello
    events:
      - http:
          method: get
          path: bestmove
          cors: true
    memorySize: 3008
    timeout: 900
